body {
    background-color: hsl(217, 28%, 15%);
    color: white;
    padding-left: 5rem;
    margin-top: 3rem;
    border: 2px solid blue;
    padding-top: 5rem;
    padding-bottom: 5rem;
   
}

#navigation {
    /* text-align: right; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
    

            /* display: flex;
            align-items: right;
            justify-content: space-around */
}
.nav {
    text-decoration: none;
    color: white; 
}

#navigation a:hover{
    background-color: peru;
    color: blue;
}

#Header{
    display: grid;
    grid-template-columns: auto auto;
}

.submit {
    padding: 10px 10px;
    transition: background, padding 3s ease;
    transform: translate(50px 20px);
    
}

.submit:hover {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    /* this transform is collecting both the X and Y axis. */
}
#icon{
    font-size: 30px;
    display: none;
}

#hide1{
    display: none;
}



@media screen and (max-width: 600px) {
  

    }




