body {
    background-color: hsl(217, 28%, 15%);
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10vh;
}

#Header {
    padding-top: .8rem;
    background-color: rgb(154, 177, 207);
    height: 4rem;
}

#logo {
    height: 3rem;
    padding-left: 2.5rem;
}

i {
    height: 1rem;
    display: inline-block;
}

nav {
    margin-top: 0;
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    background-image: url("img/hamb.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    z-index: 9999;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
}

.mobile-nav-toggle[area-expanded ="true"] {
    background-image: url("img/close.png");
}

.nav{
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2.5rem);
    flex-direction: column;
    padding: min(30vh, 10rem) min(20vw, 4em);
    transform: translateX(100%);
    margin-top: -.01rem;
}

.nav[data-visible = "true"]{
    transform: translateX(0%);
}

.nav li{
    font-size: 1rem;
    list-style: none;
    padding: 1.2em 0;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: .3rem .3rem .15rem rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    font-size: 2em;
    padding: .4em;
}

form h2 {
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
    margin: 2rem;
    margin-bottom: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 21rem;
    margin: 0 auto;
}

.form-items, .gd {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
}

input {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
}

.f-c{
    display: inline-block;
    width: 10rem;
}

#pass-1, #pass-2 {
    color: hsl(217, 28%, 15%);
    margin-left: -2rem;
    display: inline-block;
}

.submit {
    padding: 10px;
    transition: ease-in 800ms;
    width: 6rem;
}

.submit:hover {
    color: white;
    background-color: blue;
    padding: 10px 20px;
}

footer {
    background-color: rgb(154, 177, 207);
    height: 4rem;
    margin-top: 10rem;
    text-align: center;
    padding-top: .01rem;
}

.mg-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

.bd {
    border: 2px solid;
}

.ta-l {
    text-align: left;
}